                        <li>
                          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">{{Name_Action_1}}</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            {% for  i in 0..NbrAgence-1 %}
                              <li class="w-100">
                                <a href="/stats/{{i + 1}}" class="nav-link px-0"> <span class="d-none d-sm-inline">{{ AllNameAgence[i]['Nom']}}</span>  </a>
                              </li>
                            {% endfor %}

                            </ul>
                        </li> 